.is-hidden {
  display: none;
}

.button-section {
  display: flex;
  justify-content: center;
}

.load-more {
  text-align: center;
  color: #fff;
  background-color: blue;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.load-more:hover {
  background-color: rgb(91, 88, 226);
}
